[Unit]
Description=MQTT Laser Turrets
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/lib/mqttlaser/mqttlasers.sh
Restart=on-abort

[Install]
WantedBy=multi-user.target
